@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

$primary-font-family: "Poppins";

$primary-text-color: #000;
$secondary-text-color: #cecece;
$accent-color: #fbb03b;

$light-font: 300;
$semi-bold-font: 600;
